h1{
    color: #f00000;
    font-family: 'Courier New', Courier, monospace;
}
h3{
    color: #f00000;
    font-family: 'Courier New', Courier, monospace;
}
body{background: #52BE80;  
background: -webkit-linear-gradient(to right, #EAEDED, #52BE80);  
background: linear-gradient(to right, #EAEDED, #52BE80); }
